/* style.css */
.shallow-blue-background {
    background-color: #96d3ef; /* 浅蓝色 */
    color: black; /* 文字颜色为黑色 */
}

.shallow-orange-background {
    background-color: #f1d8a1; /* 浅橘色 */
    color: black; /* 文字颜色为黑色 */
}

.rank-label {
    color: green;
    font-size: 12px;
    margin-top: 4px; /* 添加一些顶部间距 */
}

#application-ods4-display{
    width: 100% !important
}

#application-ods4-display-component---detail--materialTable
{
    margin-top: 10px;
}

.lowestPriceText {
    color: green!important;  /* 设置字体颜色为绿色 */
    font-size: 0.8em;  /* 可选：调整字体大小 */
}
.sapUiTinyMarginBegin {
    margin-left: 4px;
    color: green;
    
}
.footerRowStyle .footerRow {
    background-color: black;
    color: white; /* 如果需要文本也显示为白色 */
}